body {
    font-family: Arial, san-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.nav ul li {
    margin: 10px;
}
.features {
    text-align: center;
    margin-bottom: 40px;
}
.footer {
    color: black;
    text-align: center;
}